* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.signupRow {
  height: 120px;
}

.image,
.messageDiv {
  height: 200px;
}

.checkBoxContainer {
  height: 400px;
}

.checkBoxImageContainer {
  height: 70%;
}

.checkboxOptionContainer {
  height: 30%;
}

.checkBoxButonContainer {
  height: 10%;
}

.messageChoice {
  height: 100px;
}